<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learn7</title>
    <script src="js/vue.min.js"></script>
</head>
<body>
    <!-- v-model 本质上不过是语法糖。它负责监听用户的输入事件以更新数据，并对一些极端场景进行一些特殊处理。 -->
    <!-- v-model 会忽略所有表单元素的 value、checked、selected attribute 的初始值而总是将 Vue 实例的数据作为数据来源 -->

    <!--text 和 textarea 元素使用 ​value​ property 和 ​input​事件-->
    <div id="app1">
        <input v-model="message" placeholder="输入">
        <p>输入的信息为:{{message}}</p>
    </div>
    <script>
        var app1 = new Vue({
            el:"#app1",
            data:{
                message:""
            }
        })
    </script>

    <div id="app2">
        <textarea v-model="message" placeholder="请输入"></textarea>
        <p>多行文本框中的信息为：</p>
        <p>{{message}}</p>
    </div>
    <script>
        var app2 = new Vue({
            el:"#app2",
            data:{
                message:""
            }
        })
    </script>

    <!-- checkbox 和 radio 使用 ​checked​ property 和 ​change​事件； -->
    <div id="app3">
        <input type="radio" id="jack" value="Jack" name="app3_radio" v-model="picked">
        <label for="jack">Jack</label>
        <input type="radio" id="tom" value="Tom" name="app3_radio" v-model="picked">
        <label for="tom">Tom</label>
        <p>选中的为： {{picked}}</p>
    </div>
    <script>
        var app3 = new Vue({
            el:"#app3",
            data:{
                picked:""
            }
        })
    </script>

    <div id="app4">
        <input type="checkbox" id="jack" value="Jack" v-model="check">
        <label for="jack">Jack</label>
        <input type="checkbox" id="tom" value="Tom" v-model="check">
        <label for="tom">Tom</label>
        <input type="checkbox" id="john" value="John" v-model="check">
        <label for="john">John</label>
        <p>选中的为：{{check}}</p>
    </div>
    <script>
        var app4 = new Vue({
            el:"#app4",
            data:{
                check:[]
            }
        })
    </script>

    <!--select 字段将 ​value​ 作为 prop 并将 ​change​ 作为事件。-->
    <!-- 如果 v-model 表达式的初始值未能匹配任何选项，<select> 元素将被渲染为“未选中”状态。 -->
    <div id="app5">
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <p>选中的为：{{selected}}</p>
    </div>
    <script>
        var app5 = new Vue({
            el:"#app5",
            data:{
                selected:""
            }
        })
    </script>

    <div id="app6">
        <select v-model="selected" multiple >
            <option value="" disabled>请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <p>选中的为：{{selected}}</p>
    </div>
    <script>
        var app6 = new Vue({
            el:"#app6",
            data:{
                selected:[]
            }
        })
    </script>

    <!-- 使用v-for进行渲染 -->
    <div id="app7">
        <select v-model="selected">
            <option v-for="item in items" v-bind:value="item.value">{{item.text}}</option>
        </select>
        <p>选中的为：{{selected}}</p>
    </div>
    <script>
        var app7 = new Vue({
            el:"#app7",
            data:{
                items:[{text:"one",value:"A"},{text:"two",value:"B"},{text:"three",value:"C"}],
                selected:""
            }
        })
    </script>

    <!-- 值绑定 -->
    <!-- 想把值绑定到 Vue 实例的一个动态 property 上，这时可以用 v-bind 实现，并且这个 property 的值可以不是字符串。 -->
    <div id="app8">
        <input v-model="picked" type="radio" value="a">
        <p>选中时，值为{{picked}}</p>
        <input v-model="checked" type="checkbox">
        <p>选中时，值为{{checked}}</p>
        <select v-model="selected">
            <option value="abc">ABC</option>
        </select>
        <p>选中时，值为{{selected}}</p>
    </div>
    <script>
        var app8 = new Vue({
            el:"#app8",
            data:{
                picked:"",
                checked:"",
                selected:""
            }
        })
    </script>

    <div id="app9">
        <input type="checkbox" v-model="checked" true-value="yes" false-value="no"> <!--选中时为yes，否则为no-->
        <p>{{checked}}</p>
        <input type="radio" v-model="picked" v-bind:value="'a'">
        <p>{{picked}}</p>
    </div>
    <script>
        var app9 = new Vue({
            el:"#app9",
            data:{
                checked:"",
                picked:""
            }
        })
    </script>

    <!-- 修饰符 -->
    <div id="app10">
        <input v-model.lazy="msg"> <!--在“change”时而非“input”时更新 -->
        <p>{{msg}}</p>
        <hr>
        <input v-model.number="age" type="number"> <!--自动将用户的输入值转为数值类型-->
        <p>{{age}}</p>
        <hr>
        <input v-model.trim="message"><!--自动过滤用户输入的首尾空白字符-->
        <p>{{message}}</p>
    </div>
    <script>
        var app10 = new Vue({
            el:"#app10",
            data:{
                msg:"",
                age:"",
                message:""
            }
        })
    </script>
</body>
</html>